# vcs / editor
.git
.github
.gitignore
.vscode
.idea

# node
node_modules/
npm-debug.log*
yarn.lock      
pnpm-lock.yaml 

# env 
.env
.env.*
!.env.example

# build outputs
dist/
build/

# os noise
.DS_Store
Thumbs.db

# tests / coverage
coverage/
*.log

#YES
!package.json
!package-lock.json
!tsconfig.json
!vite.config.* 
!Dockerfile
!nginx.conf